{% extends "base.html" %} {% block title %}Login Page{% endblock %} {% block
content %}
<style>
  .grad {
    background-color: #4158d0;
    background-image: linear-gradient(
      43deg,
      #4158d0 0%,
      #c850c0 46%,
      #f2893e 100%
    );
  }
</style>
<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <div class="p-4 p-md-5 mb-4 text-white rounded grad">
        <div class="col-md-6 px-0">
          <h1 class="display-4 fst-italic">AI interviewing</h1>
          <p class="lead my-2">
            GPT-3 Powered prep interview questions. Insert a job position like
            "research assistant" and your experience level (junior, senior, Phd)
          </p>
        </div>
      </div>
    </div>
<div class="col-sm">
      <div class="p-4 p-md-5 mb-4 text-black rounded">
        <form class="text-center" action="#" method="post">
          <p class="font-weight-bold">
            What position are you interviewing for?
          </p>
<p><input type="text" name="job" /></p>
          <p>What's your experience level?</p>
          <p><input type="text" name="experience" /></p>
          <p><input type="submit" value="submit" /></p>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}